{% extends 'base.html' %}

{% block title %}
Создать статью
{% endblock %}

{% block body%}
<div class = "container fs-3 text-center w-50">
	<form method="post" enctype="multipart/form-data">
		Заголовок статьи
		<input type ="text" name="article_title" id="article_title" class="form-control" placeholder="Заголовок"><br>
		Главное фото
		<input type="file" name="main_image" id="main_image" class="form-control" accept="image/png,image/jpeg,image/gif,image/webp"><br>
		Текст статьи
		<textarea type ="text" name="article_text" id="article_text" class="form-control" placeholder="Текст"></textarea><br>

		Дополнительные фото
    	<input type="file" name="secondary_images" id="secondary_images" class="form-control" multiple accept="image/png,image/jpeg,image/gif,image/webp"><br>
    	<input type="submit" class="btn btn-success" value="отправить"><br>
	</form>
</div>
{% endblock %}