<div class="sticky-top bg-dark border-bottom border-secondary">
    <div class="container-fluid">
        <div class="d-flex align-items-center justify-content-between py-2 flex-wrap gap-3">
            <!-- Брендон: лого + название -->
            <a href="/" class="text-decoration-none text-white">
	            <div class="d-flex align-items-center gap-2">
	                <img src="{{ url_for('static', filename='img/logo.jpg') }}"
	                     class="rounded" style="height: 32px;" alt="Логотип">
	                <span class="fw-bold fs-6 text-white">ЧеМаджонг</span>
	            </div>
            </a>

            <!-- Меню -->
            <div class="d-flex align-items-center gap-3 flex-wrap">
			    <a class="nav-link-custom" href="/posts">Посты</a>
			    <a class="nav-link-custom" href="/about">О нас</a>

			    {% if auth %}
			        <div class="vr text-white mx-2"></div>
			        <a class="nav-link-custom" href="/main-data-management">Настройки</a>
			        <a class="nav-link-custom" href="/create-post">Создать пост</a>
			    {% endif %}
			</div>
        </div>
    </div>
</div>