{% extends 'base.html' %}

{% block title %}
Посты сайта
{% endblock %}

{% block body%}
<div class = "container fs-3 text-center w-50">
	{% if not articles %}
	<div class="alert alert-secondary">Постов пока что нет!</div>
	{% else %}
		{% for el in articles %}
		<div class="alert alert-secondary rounded-0">
			<h2>{{ el.article_title }}</h2>
			<p><b>Дата:{{ el.article_date.date() }}</b></p>
			{% set primary = el.images | selectattr('img_type', 'equalto', 'primary') | first %}
			{% if primary %}
			<img src="{{ url_for('static', filename='uploads/' + primary.img_name) }}"
	         class="img-fluid rounded mb-2 rounded-0" style="max-height: 300px;"><br>
	        {% endif %}
			<a href="/posts/detail/{{ el.article_id }}" class="btn btn-outline-dark">Детальнее</a>
			{% if auth %}
				<a href="/edit-article/{{ el.article_id }}" class="btn btn-outline-dark">Изменить</a>
			{% endif %}
		</div>
		{% endfor %}
	{% endif %}
</div>
<div>
	{% if articles %}
	<div class = "container fs-3 text-center" >
		<a href="/posts/1" class="btn btn-light"><<</a>
		{% if pagination.has_prev == True %}
		<a href="/posts/{{ pagination.prev_num }}" class="btn btn-light">{{ pagination.prev_num }}</a>
		{% endif %}
		<a href="/posts/{{ pagination.page }}" class="btn btn-outline-light">{{ pagination.page }}</a>
		{% if pagination.has_next == True %}
		<a href="/posts/{{ pagination.next_num }}" class="btn btn-light">{{ pagination.next_num }}</a>
		{% endif %}
		<a href="/posts/{{ pagination.pages }}" class="btn btn-light">>></a>
	</div>
	{% endif %}
</div>
{% endblock %}